.context_menu {
  position: absolute;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1rem;
  z-index: 999;
  list-style: none;
}

.context_menu > li:hover {
  background-color: yellow;
}
