.controller {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  align-items: center;
  border: 1px solid #ddd;
  border-collapse: collapse;
}

.controller > button:hover {
  background-color: #f6f8fa;
}

.controller > * {
  height: 45px;
  border-right: 1px solid #ddd;
  padding: 0.5rem 0.8rem;
}

.controller > div {
  display: flex;
  align-items: center;
}

.controller input {
  max-width: 40px;
  text-align: right;
  background: #f6f8fa;
  border: 1px solid #ddd;
}

.row label,
.col label {
  margin-left: 0.5rem;
}

.thead label,
.tfoot label {
  margin-right: 0.5rem;
}
