.controller button {
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0.5rem;
}

.controller .table-format {
  display: flex;
  flex-wrap: wrap;
  margin: 0.5rem 1rem;
  gap: 0.5rem;
}

.controller .table-format > div {
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0.5rem;
}

.controller .table-manager {
  display: flex;
  flex-wrap: wrap;
  margin: 0.5rem 1rem;
  gap: 0.5rem;
}

.controller input {
  border: none;
  width: 40px;
  text-align: center;
}

.size input:first-child {
  margin-left: 0.5rem;
}

.size > span {
  margin-right: 0.8rem;
}

.thead label,
.tfoot label {
  margin: 0 0.5rem;
}
