.controller {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-auto-flow: dense;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.controller > input {
  padding: 0.5rem;
  border: 1px solid #ddd;
}

.controller > button {
  padding: 0.5rem;
  border: 1px solid #ddd;
}

.option {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  list-style: none;
}

.option label {
  user-select: none;
  margin-left: 0.3rem;
}

.option > li > input:disabled {
  color: #777;
  cursor: pointer;
}
