.code {
  margin: 1rem;
}

.options {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #ddd;
}

.options > * {
  height: 45px;
  border-right: 1px solid #ddd;
  padding: 0.5rem 0.8rem;
}

.options > div {
  display: flex;
  align-items: center;
}

.options input {
  max-width: 40px;
  text-align: right;
  background: #f6f8fa;
  border: 1px solid #ddd;
}

.tabsize label {
  margin-right: 0.5rem;
}

.minify label {
  margin-left: 0.5rem;
}

.html {
  padding: 1rem;
  background-color: #f6f8fa;
  margin: 0;
  border: 1px solid #ddd;
  border-top: 0;
  overflow-y: auto;
  font-size: 0.8rem;
  max-height: 400px;
}

.controller > input:disabled {
  color: #777;
  cursor: pointer;
}

.preview {
  margin: 1rem;
}
