.code > button {
  padding: 0.5rem;
  margin-right: 0.5rem;
}

.html {
  padding: 1rem;
  background-color: #f6f8fa;
  margin: 1rem 0;
  overflow-y: auto;
  font-size: 0.8rem;
  max-height: 400px;
}

.preview {
  margin: 1rem 0;
}

.controller > input:disabled {
  color: #777;
  cursor: pointer;
}

.options {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.options > div {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.options input {
  padding: 0.5rem;
  border: 1px solid #ddd;
  text-align: center;
}

.options .tabsize {
  width: 30px;
}

.options .tabsize:disabled {
  cursor: no-drop;
}

.options > button {
  padding: 0.5rem;
  border: 1px solid #ddd;
}
