.tab > button {
  padding: 0.5rem;
  margin-right: 0.5rem;
}

.html {
  padding: 1rem;
  background-color: #f6f8fa;
  margin: 1rem 0;
  overflow-y: auto;
  font-size: 0.8rem;
  max-height: 400px;
}

.preview {
  margin: 1rem 0;
}

.option {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  list-style: none;
}

.option label {
  user-select: none;
  margin-left: 0.3rem;
}

.disabled {
  color: #777;
  cursor: pointer;
}
