.table {
  display: grid;
  grid-template-areas:
    'table right'
    'bottom bottom-right';
  grid-template-columns: minmax(auto, max-content) minmax(auto, max-content);
  grid-template-rows: minmax(auto, max-content) minmax(auto, max-content);
  gap: 0.2rem;
  margin: 1rem;
}

.table button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 6px;
  background-color: #f6f8fa;
}
