body {
  font-size: 16px;
}

ul {
  margin: 0;
  padding: 0;
}

button,
input {
  font-size: inherit;
  font-family: inherit;
  border-radius: 5px;
}

label {
  user-select: none;
}

pre {
  border-radius: 5px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

table {
  border-collapse: collapse;
  position: relative;
}

th,
td {
  position: relative;
  width: 100px;
  height: 21px;
  border: 1px solid #ddd;
  padding: 7px 9px;
}

button {
  outline: none;
  border: 1px solid #ddd;
  cursor: pointer;
}

.table {
  display: grid;
  grid-template-areas:
    "table right"
    "bottom bottom-right";
  grid-template-columns: minmax(auto, max-content) minmax(auto, max-content);
  grid-template-rows: minmax(auto, max-content) minmax(auto, max-content);
  gap: 0.2rem;
}
