* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

ul {
  margin: 0;
  padding: 0;
}

button,
input {
  font-size: inherit;
  font-family: inherit;
}

label {
  user-select: none;
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
}

table {
  border-collapse: separate;
  border: 1px solid #ddd;
  border-spacing: 0;
  border-radius: 6px;
}

table :is(th, td) {
  position: relative;
  width: 100px;
  height: 21px;
  padding: 7px 9px;
}

table thead tr :is(th, td) {
  border-bottom: 1px solid #ddd;
}

table tbody tr :is(th, td) {
  border-bottom: 1px solid #ddd;
}

table tfoot tr:not(:last-child) :is(th, td) {
  border-bottom: 1px solid #ddd;
}

table:not(:has(tfoot)) tbody tr:last-child :is(th, td) {
  border-bottom: 0;
}

table :is(th, td):not(:last-child) {
  border-right: 1px solid #ddd;
}

button {
  outline: none;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}
